-- USE [master]
-- GO

-- CREATE DATABASE [BilliardsPOS]
USE [web_pos_billiards]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BAN](
	[MABAN] [nvarchar](20) NOT NULL,
	[TENBAN] [nvarchar](50) NOT NULL,
	[KHUVUC] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL,
	[GHICHU] [nvarchar](300) NULL,
	[MAHANGHOA] [nvarchar](20) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [nvarchar](20) NOT NULL,
	[MABAN] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NOT NULL,
	[MAKHUYENMAI] [nvarchar](20) NULL,
	[MADATBAN] [nvarchar](20) NULL,
	[NGAY] [datetime] NOT NULL,
	[GIOBATDAU] [datetime] NULL,
	[GIOKETTHUC] [datetime] NULL,
	[TONGTIENGIO] [decimal](18, 0) NOT NULL,
	[TONGTIENHANG] [decimal](18, 0) NOT NULL,
	[TONGTIENGIO_] [decimal](18, 0) NOT NULL,
	[TONGTHANHTOAN] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[PHUONGTHUCTHANHTOAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANVIEN] [nvarchar](20) NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NULL,
	[TENNGUOIDUNG] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](256) NULL,
	[SDT] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[QUYENHAN] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[MACCH] [nvarchar](20) NULL,
	[CCCD] [nvarchar](20) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[DAXOA] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NHANVIEN_MACCH] UNIQUE NONCLUSTERED 
(
	[MACCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_HOADON_DANMO]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VIEW hữu ích
-- ============================================================

-- View hóa đơn đang mở (đang chơi hoặc chờ thanh toán)
CREATE VIEW [dbo].[V_HOADON_DANMO] AS
SELECT
    HD.MAHOADON,
    B.TENBAN,
    B.LOAIBAN,
    NV.TENNGUOIDUNG     AS TENNHANVIEN,
    HD.GIOBATDAU,
    DATEDIFF(MINUTE, HD.GIOBATDAU, GETDATE()) AS SOGIOPHUT,
    HD.TONGTIENGIO,
    HD.TONGTIENHANG,
    HD.TRANGTHAI
FROM HOADON HD
JOIN BAN     B  ON HD.MABAN    = B.MABAN
JOIN NHANVIEN NV ON HD.MANVIEN = NV.MANVIEN
WHERE HD.TRANGTHAI IN (N'Đang chơi', N'Chờ thanh toán');
GO
/****** Object:  Table [dbo].[DATBAN]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATBAN](
	[MADATBAN] [nvarchar](20) NOT NULL,
	[MABAN] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NULL,
	[TENKHACHHANG] [nvarchar](100) NOT NULL,
	[SDTKHACHHANG] [nvarchar](15) NULL,
	[THOIGIANDATBAN] [datetime] NOT NULL,
	[THOIGIANDEN] [datetime] NOT NULL,
	[THOIGIANKET] [datetime] NULL,
	[SODATCHOI] [int] NOT NULL,
	[TIENCOC] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_DATBAN] PRIMARY KEY CLUSTERED 
(
	[MADATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DATBAN_HOMNAY]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View đặt bàn hôm nay
CREATE VIEW [dbo].[V_DATBAN_HOMNAY] AS
SELECT
    DB.MADATBAN,
    B.TENBAN,
    B.LOAIBAN,
    DB.TENKHACHHANG,
    DB.SDTKHACHHANG,
    DB.THOIGIANDEN,
    DB.THOIGIANKET,
    DB.SODATCHOI,
    DB.TIENCOC,
    DB.TRANGTHAI
FROM DATBAN DB
JOIN BAN B ON DB.MABAN = B.MABAN
WHERE CAST(DB.THOIGIANDEN AS DATE) = CAST(GETDATE() AS DATE);
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MATHANHTOAN] [nvarchar](20) NOT NULL,
	[MAHOADON] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[PHUONGTHUC] [nvarchar](50) NOT NULL,
	[SOTIENTHANHTOAN] [decimal](18, 0) NOT NULL,
	[TIENKHACHHANGDUA] [decimal](18, 0) NOT NULL,
	[TIENTHOI] [decimal](18, 0) NOT NULL,
	[TIENCOCKHAUTRU] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MATHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DOANHTHU_NGAY]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View doanh thu theo ngày
CREATE VIEW [dbo].[V_DOANHTHU_NGAY] AS
SELECT
    CAST(TT.THOIGIAN AS DATE)   AS NGAY,
    COUNT(TT.MATHANHTOAN)       AS SOHOADON,
    SUM(TT.SOTIENTHANHTOAN)     AS TONGDOANHTHU,
    SUM(CASE WHEN TT.PHUONGTHUC = N'Tiền mặt'      THEN TT.SOTIENTHANHTOAN ELSE 0 END) AS TIENMAT,
    SUM(CASE WHEN TT.PHUONGTHUC = N'Chuyển khoản'  THEN TT.SOTIENTHANHTOAN ELSE 0 END) AS CHUYENKHOAN,
    SUM(CASE WHEN TT.PHUONGTHUC = N'Ví điện tử'    THEN TT.SOTIENTHANHTOAN ELSE 0 END) AS VIDIENTU
FROM THANHTOAN TT
WHERE TT.TRANGTHAI = N'Thành công'
GROUP BY CAST(TT.THOIGIAN AS DATE);
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MACHAMCONG] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIOVAO] [time](7) NULL,
	[GIORA] [time](7) NULL,
	[TONGGIO] [decimal](5, 2) NULL,
	[GHICHU] [nvarchar](300) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[DAXOA] [bit] NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[MACHAMCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITETKIEMKHO]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITETKIEMKHO](
	[MACHITETKIEMKHO] [nvarchar](20) NOT NULL,
	[MAHANGHOA] [nvarchar](20) NOT NULL,
	[MAKIEMKHO] [nvarchar](20) NOT NULL,
	[TONKHO] [int] NOT NULL,
	[SOLUONGCHENHLECH] [int] NOT NULL,
 CONSTRAINT [PK_CHITETKIEMKHO] PRIMARY KEY CLUSTERED 
(
	[MACHITETKIEMKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPKHO]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPKHO](
	[MACHITIETNHAPKHO] [nvarchar](20) NOT NULL,
	[MAHANGHOA] [nvarchar](20) NOT NULL,
	[MAPHIEUNHAP] [nvarchar](20) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[DONGIA] [decimal](18, 0) NOT NULL,
	[THANHTIEN] [decimal](18, 0) NOT NULL,
	[GIAMGIA] [float] NULL,
 CONSTRAINT [PK_CHITIETNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MACHITIETNHAPKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MACHITIETPHIEUNHAP] [nvarchar](20) NOT NULL,
	[MAPHEUNHAP] [nvarchar](20) NOT NULL,
	[MAHANGHOA] [nvarchar](20) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[DONGIA] [decimal](18, 0) NOT NULL,
	[THANHTIEN] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MACHITIETPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTRAHANGNHAP]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTRAHANGNHAP](
	[MACHITIETTRAHANGNHAP] [nvarchar](20) NOT NULL,
	[MAPHIEUTRAHANGNHAP] [nvarchar](20) NOT NULL,
	[MAHANGHOA] [nvarchar](20) NOT NULL,
	[LYDOTRA] [nvarchar](300) NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIATRA] [decimal](18, 0) NOT NULL,
	[THANHTIEN] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETTRAHANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MACHITIETTRAHANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETXUATHUY]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETXUATHUY](
	[MACHITIETXUATHUY] [nvarchar](20) NOT NULL,
	[MAHANGHOA] [nvarchar](20) NOT NULL,
	[MAXUATHUY] [nvarchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIATRITHIETHAI] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_CHITETXUATHUY] PRIMARY KEY CLUSTERED 
(
	[MACHITIETXUATHUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHANGHOA] [nvarchar](20) NOT NULL,
	[MAHOADON] [nvarchar](20) NOT NULL,
	[MACHITETHOADON] [nvarchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [decimal](18, 0) NOT NULL,
	[THANHTIEN] [decimal](18, 0) NOT NULL,
	[TRANGTHAI_BEP] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MACHITETHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [nvarchar](20) NOT NULL,
	[TENDANHMUC] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](500) NULL,
	[THUTU] [int] NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_DANHMUC] PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHANGHOA] [nvarchar](20) NOT NULL,
	[MANCC] [nvarchar](20) NULL,
	[MADANHMUC] [nvarchar](20) NULL,
	[TENHANGHOA] [nvarchar](150) NOT NULL,
	[DONGIABAN] [decimal](18, 0) NOT NULL,
	[SOLUONGTONKHO] [int] NOT NULL,
	[DONVITINH] [nvarchar](30) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[GIANIEMYET] [decimal](18, 2) NULL,
	[LOAIHANG] [nvarchar](50) NULL,
	[MOTA] [nvarchar](max) NULL,
	[DINHMUCTON_DUOI] [int] NULL,
	[DINHMUCTON_TREN] [int] NULL,
	[GIAVON] [float] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEMKHO]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEMKHO](
	[MAKIEMKHO] [nvarchar](20) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[NGAYCANBANG] [datetime] NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL,
	[TONGCHENHLECH] [decimal](18, 0) NOT NULL,
	[SOLUONGLECHTANG] [int] NOT NULL,
	[SOLUONGLECHGIAM] [int] NOT NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_KIEMKHO] PRIMARY KEY CLUSTERED 
(
	[MAKIEMKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKHUYENMAI] [nvarchar](20) NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[MACHITETKHOAN] [nvarchar](200) NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[TENKHUYENMAI] [nvarchar](255) NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[MALICH] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NOT NULL,
	[CALAM] [nvarchar](50) NULL,
	[NGAY] [date] NOT NULL,
	[GIOBATDAU] [time](7) NULL,
	[GIOKETTHUC] [time](7) NULL,
	[DAXOA] [bit] NULL,
 CONSTRAINT [PK_LICHLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MALICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTHAOTAC]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTHAOTAC](
	[MANVIEN] [nvarchar](20) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[HANHDONG] [nvarchar](200) NULL,
	[CHITIETTHAYDOI] [nvarchar](max) NULL,
	[MADOITUONG] [varchar](50) NULL,
	[MATHAOTAC] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHAOTAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MALUONG] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NOT NULL,
	[KYTRALUONG] [nvarchar](30) NULL,
	[TONGGIOLAM] [decimal](10, 2) NOT NULL,
	[TONGLUONG] [decimal](18, 0) NOT NULL,
	[CONCANTRA] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LUONG] PRIMARY KEY CLUSTERED 
(
	[MALUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAUIN]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUIN](
	[MAMAU] [nvarchar](20) NOT NULL,
	[TENMAU] [nvarchar](100) NOT NULL,
	[LOAMAU] [nvarchar](50) NULL,
	[NOIDUNGHTML] [nvarchar](max) NULL,
	[KICHTHUOC] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_MAUIN] PRIMARY KEY CLUSTERED 
(
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](20) NOT NULL,
	[TENNCC] [nvarchar](150) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[EMAIL] [nvarchar](150) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPKHO]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPKHO](
	[MAPHIEUNHAP] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NOT NULL,
	[MANCC] [nvarchar](20) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[TONGTIEN] [decimal](18, 0) NOT NULL,
	[GHICHU] [nvarchar](500) NULL,
	[SOLUONG] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL,
	[CANTRANCC] [nvarchar](300) NULL,
	[GIAMGIA] [float] NULL,
 CONSTRAINT [PK_NHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRAHANGNHAP]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRAHANGNHAP](
	[MAPHIEUTRAHANGNHAP] [nvarchar](20) NOT NULL,
	[MANCC] [nvarchar](20) NOT NULL,
	[MANVIEN] [nvarchar](20) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[TONGTENHANGTHANG] [decimal](18, 0) NOT NULL,
	[NCCCANTRA] [nvarchar](300) NULL,
	[GIAMGIA] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUTRAHANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTRAHANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](256) NOT NULL,
	[QUYENHAN] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[QUENMATKHAU] [nvarchar](256) NULL,
	[DUYTRIDANGNHAP] [nvarchar](256) NULL,
	[DAXOA] [int] NULL,
	[GIOIHAN_TRUYCAP] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETLAPCUAHANG]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETLAPCUAHANG](
	[MACUAHANG] [nvarchar](20) NOT NULL,
	[TENCUAHANG] [nvarchar](150) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[ANHDAIDIEN] [nvarchar](max) NULL,
	[TENTAIKHOAN] [nvarchar](100) NULL,
	[SOTAIKHOAN] [nvarchar](50) NULL,
	[GIAVON_TRUNGBINH] [bit] NULL,
	[HANGHOA_THUOCTHINH] [bit] NULL,
	[DINHLUONG_NGUYENLIEU] [bit] NULL,
	[NHAN_GOIMON] [bit] NULL,
	[KHOA_THOIGIAN_GIAODICH] [bit] NULL,
	[BLOCK_TINHGIO] [bit] NULL,
	[SOPHUT_BLOCK] [int] NULL,
	[LAMTRON_TIEN] [bit] NULL,
	[KIEU_LAMTRON] [varchar](20) NULL,
	[KHUYENMAI] [bit] NULL,
	[DATBAN_TRUOC] [bit] NULL,
	[NGANHANG_BIN] [varchar](20) NULL,
	[DIACHI_TRUYCAP] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[EMAIL] [varchar](100) NULL,
	[CHOPHEP_CHINHGIO] [bit] NULL,
 CONSTRAINT [PK_THIETLAPCUAHANG] PRIMARY KEY CLUSTERED 
(
	[MACUAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIGIAN_TRUYCAP]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIGIAN_TRUYCAP](
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[THU] [nvarchar](20) NOT NULL,
	[GIO_BATDAU] [varchar](5) NULL,
	[GIO_KETTHUC] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC,
	[THU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATHUY]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATHUY](
	[MAXUATHUY] [nvarchar](20) NOT NULL,
	[NGAYXUATHUY] [datetime] NOT NULL,
	[LYDO] [nvarchar](500) NULL,
	[TONGTIEN] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [tinyint] NOT NULL,
	[MANVIEN] [varchar](20) NULL,
 CONSTRAINT [PK_XUATHUY] PRIMARY KEY CLUSTERED 
(
	[MAXUATHUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEUCAUNGHIPHEP]    Script Date: 4/8/2026 2:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUCAUNGHIPHEP](
	[MAYEUCAU] [int] IDENTITY(1,1) NOT NULL,
	[MANVIEN] [nvarchar](50) NOT NULL,
	[LYDO] [nvarchar](max) NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[NGAYGUI] [datetime] NULL,
	[DAXOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAYEUCAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BAN_TRANGTHAI]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_BAN_TRANGTHAI] ON [dbo].[BAN]
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DATBAN_MABAN]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DATBAN_MABAN] ON [dbo].[DATBAN]
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DATBAN_THOIGIANDEN]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DATBAN_THOIGIANDEN] ON [dbo].[DATBAN]
(
	[THOIGIANDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DATBAN_TRANGTHAI]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DATBAN_TRANGTHAI] ON [dbo].[DATBAN]
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HANGHOA_MADANHMUC]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_HANGHOA_MADANHMUC] ON [dbo].[HANGHOA]
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HOADON_MABAN]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_MABAN] ON [dbo].[HOADON]
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HOADON_MANVIEN]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_MANVIEN] ON [dbo].[HOADON]
(
	[MANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HOADON_NGAY]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_NGAY] ON [dbo].[HOADON]
(
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HOADON_TRANGTHAI]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_TRANGTHAI] ON [dbo].[HOADON]
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_THANHTOAN_MAHOADON]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_THANHTOAN_MAHOADON] ON [dbo].[THANHTOAN]
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_THANHTOAN_THOIGIAN]    Script Date: 4/8/2026 2:44:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_THANHTOAN_THOIGIAN] ON [dbo].[THANHTOAN]
(
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN] ADD  DEFAULT (N'Trống') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BAN] ADD  DEFAULT (N'Trống') FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[CHITETKIEMKHO] ADD  DEFAULT ((0)) FOR [TONKHO]
GO
ALTER TABLE [dbo].[CHITETKIEMKHO] ADD  DEFAULT ((0)) FOR [SOLUONGCHENHLECH]
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO] ADD  DEFAULT ((0)) FOR [SOLUONGNHAP]
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO] ADD  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] ADD  DEFAULT ((0)) FOR [SOLUONGNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[CHITIETTRAHANGNHAP] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETTRAHANGNHAP] ADD  DEFAULT ((0)) FOR [DONGIATRA]
GO
ALTER TABLE [dbo].[CHITIETTRAHANGNHAP] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[CHITIETXUATHUY] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETXUATHUY] ADD  DEFAULT ((0)) FOR [GIATRITHIETHAI]
GO
ALTER TABLE [dbo].[CHITIETXUATHUY] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT (N'Chưa báo') FOR [TRANGTHAI_BEP]
GO
ALTER TABLE [dbo].[DANHMUC] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[DATBAN] ADD  DEFAULT (getdate()) FOR [THOIGIANDATBAN]
GO
ALTER TABLE [dbo].[DATBAN] ADD  DEFAULT ((1)) FOR [SODATCHOI]
GO
ALTER TABLE [dbo].[DATBAN] ADD  DEFAULT ((0)) FOR [TIENCOC]
GO
ALTER TABLE [dbo].[DATBAN] ADD  DEFAULT (N'Chờ xác nhận') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((0)) FOR [DONGIABAN]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((0)) FOR [SOLUONGTONKHO]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((0)) FOR [GIANIEMYET]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT (N'Hàng thường') FOR [LOAIHANG]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT (N'') FOR [MOTA]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((0)) FOR [DINHMUCTON_DUOI]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((999)) FOR [DINHMUCTON_TREN]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((0)) FOR [GIAVON]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTIENGIO]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTIENHANG]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTIENGIO_]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTHANHTOAN]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Đang chơi') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KIEMKHO] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[KIEMKHO] ADD  DEFAULT (N'Chờ duyệt') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KIEMKHO] ADD  DEFAULT ((0)) FOR [TONGCHENHLECH]
GO
ALTER TABLE [dbo].[KIEMKHO] ADD  DEFAULT ((0)) FOR [SOLUONGLECHTANG]
GO
ALTER TABLE [dbo].[KIEMKHO] ADD  DEFAULT ((0)) FOR [SOLUONGLECHGIAM]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[LICHSUTHAOTAC] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[LUONG] ADD  DEFAULT ((0)) FOR [TONGGIOLAM]
GO
ALTER TABLE [dbo].[LUONG] ADD  DEFAULT ((0)) FOR [TONGLUONG]
GO
ALTER TABLE [dbo].[LUONG] ADD  DEFAULT ((0)) FOR [CONCANTRA]
GO
ALTER TABLE [dbo].[MAUIN] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[NHAPKHO] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[NHAPKHO] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[NHAPKHO] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[NHAPKHO] ADD  DEFAULT (N'Chờ duyệt') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[NHAPKHO] ADD  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[PHIEUTRAHANGNHAP] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[PHIEUTRAHANGNHAP] ADD  DEFAULT ((0)) FOR [TONGTENHANGTHANG]
GO
ALTER TABLE [dbo].[PHIEUTRAHANGNHAP] ADD  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (N'Nhân viên') FOR [QUYENHAN]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [DAXOA]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [GIOIHAN_TRUYCAP]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT (N'Tiền mặt') FOR [PHUONGTHUC]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT ((0)) FOR [SOTIENTHANHTOAN]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT ((0)) FOR [TIENKHACHHANGDUA]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT ((0)) FOR [TIENTHOI]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT ((0)) FOR [TIENCOCKHAUTRU]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT (N'Thành công') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((1)) FOR [GIAVON_TRUNGBINH]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((0)) FOR [HANGHOA_THUOCTHINH]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((1)) FOR [DINHLUONG_NGUYENLIEU]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((1)) FOR [NHAN_GOIMON]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((1)) FOR [KHOA_THOIGIAN_GIAODICH]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((0)) FOR [BLOCK_TINHGIO]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((15)) FOR [SOPHUT_BLOCK]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((0)) FOR [LAMTRON_TIEN]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ('round') FOR [KIEU_LAMTRON]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((1)) FOR [KHUYENMAI]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((1)) FOR [DATBAN_TRUOC]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ('970436') FOR [NGANHANG_BIN]
GO
ALTER TABLE [dbo].[THIETLAPCUAHANG] ADD  DEFAULT ((0)) FOR [CHOPHEP_CHINHGIO]
GO
ALTER TABLE [dbo].[THOIGIAN_TRUYCAP] ADD  DEFAULT ('08:00') FOR [GIO_BATDAU]
GO
ALTER TABLE [dbo].[THOIGIAN_TRUYCAP] ADD  DEFAULT ('22:00') FOR [GIO_KETTHUC]
GO
ALTER TABLE [dbo].[XUATHUY] ADD  DEFAULT (getdate()) FOR [NGAYXUATHUY]
GO
ALTER TABLE [dbo].[XUATHUY] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[YEUCAUNGHIPHEP] ADD  DEFAULT (getdate()) FOR [NGAYGUI]
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD  CONSTRAINT [FK_BAN_HANGHOA] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[BAN] CHECK CONSTRAINT [FK_BAN_HANGHOA]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NV]
GO
ALTER TABLE [dbo].[CHITETKIEMKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTKIEMKHO_HH] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CHITETKIEMKHO] CHECK CONSTRAINT [FK_CTKIEMKHO_HH]
GO
ALTER TABLE [dbo].[CHITETKIEMKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTKIEMKHO_KK] FOREIGN KEY([MAKIEMKHO])
REFERENCES [dbo].[KIEMKHO] ([MAKIEMKHO])
GO
ALTER TABLE [dbo].[CHITETKIEMKHO] CHECK CONSTRAINT [FK_CTKIEMKHO_KK]
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTNHAPKHO_HH] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO] CHECK CONSTRAINT [FK_CTNHAPKHO_HH]
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTNHAPKHO_NK] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[NHAPKHO] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO] CHECK CONSTRAINT [FK_CTNHAPKHO_NK]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_HH] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_HH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_NK] FOREIGN KEY([MAPHEUNHAP])
REFERENCES [dbo].[NHAPKHO] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_NK]
GO
ALTER TABLE [dbo].[CHITIETTRAHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTTRAHN_HH] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CHITIETTRAHANGNHAP] CHECK CONSTRAINT [FK_CTTRAHN_HH]
GO
ALTER TABLE [dbo].[CHITIETTRAHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTTRAHN_PTHN] FOREIGN KEY([MAPHIEUTRAHANGNHAP])
REFERENCES [dbo].[PHIEUTRAHANGNHAP] ([MAPHIEUTRAHANGNHAP])
GO
ALTER TABLE [dbo].[CHITIETTRAHANGNHAP] CHECK CONSTRAINT [FK_CTTRAHN_PTHN]
GO
ALTER TABLE [dbo].[CHITIETXUATHUY]  WITH CHECK ADD  CONSTRAINT [FK_CTXUATHUY_HH] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CHITIETXUATHUY] CHECK CONSTRAINT [FK_CTXUATHUY_HH]
GO
ALTER TABLE [dbo].[CHITIETXUATHUY]  WITH CHECK ADD  CONSTRAINT [FK_CTXUATHUY_XH] FOREIGN KEY([MAXUATHUY])
REFERENCES [dbo].[XUATHUY] ([MAXUATHUY])
GO
ALTER TABLE [dbo].[CHITIETXUATHUY] CHECK CONSTRAINT [FK_CTXUATHUY_XH]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HH] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_HH]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DATBAN_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [FK_DATBAN_BAN]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DATBAN_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [FK_DATBAN_NV]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_DANHMUC] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_DANHMUC]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NCC]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DB] FOREIGN KEY([MADATBAN])
REFERENCES [dbo].[DATBAN] ([MADATBAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DB]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KM] FOREIGN KEY([MAKHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([MAKHUYENMAI])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NV]
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHLAMVIEC_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[LICHLAMVIEC] CHECK CONSTRAINT [FK_LICHLAMVIEC_NV]
GO
ALTER TABLE [dbo].[LICHSUTHAOTAC]  WITH CHECK ADD  CONSTRAINT [FK_LSTT_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[LICHSUTHAOTAC] CHECK CONSTRAINT [FK_LSTT_NV]
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TK] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TK]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_NHAPKHO_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_NHAPKHO_NCC]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_NHAPKHO_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_NHAPKHO_NV]
GO
ALTER TABLE [dbo].[PHIEUTRAHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PTHN_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUTRAHANGNHAP] CHECK CONSTRAINT [FK_PTHN_NCC]
GO
ALTER TABLE [dbo].[PHIEUTRAHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PTHN_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[PHIEUTRAHANGNHAP] CHECK CONSTRAINT [FK_PTHN_NV]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_TT_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_TT_HOADON]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_TT_NV] FOREIGN KEY([MANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANVIEN])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_TT_NV]
GO
ALTER TABLE [dbo].[THOIGIAN_TRUYCAP]  WITH CHECK ADD FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
IF NOT EXISTS (SELECT 1 FROM [dbo].[TAIKHOAN] WHERE TENDANGNHAP = 'admin')
BEGIN
    INSERT INTO [dbo].[TAIKHOAN] 
        (TENDANGNHAP, MATKHAU, QUYENHAN, TRANGTHAI, QUENMATKHAU, DUYTRIDANGNHAP, DAXOA, GIOIHAN_TRUYCAP)
    VALUES 
        (
            'admin',
            '$2b$10$y8aO5mLq844cwm53oa6wqOTmO8wvBNCGR4QQ4bnF12THFaU2VWYAC',
            N'Admin',
            1,
            NULL,
            NULL,
            0,
            0
        )
END

USE [master]
GO
